{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {% if title %}{{ title }} - Minerva App{% else %}Minerva App{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
	<style>
		body {
			padding: 40px;
		}
		.form {
			text-align: center;
		}
   </style>
{% endblock%}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
       	<div class="form">
          	<div class="row">
        			<div class="col-md-3"></div>
        			<div class="col-md-6 col-xs-12">
          			<h1>{{ title }}</h1>
            		{{ wtf.quick_form(form) }}
        			</div>
        			<div class="col-md-3"></div>
    				</div>
      	</div>
    </div>
{% endblock %}