{% extends "user.html" %}


{% block styles %}
{{super()}}
	<style>
    h3 {
    	margin-top: 10px;
    	margin-bottom: 20px;
    }
    h4 {
    	margin-top: 15px;
    }
  </style>
{% endblock %}

{% block user_content %}
	<div class="container">
		<h3>Help</h3>
		<h4>Introduction</h4>
		<p>This is an app which will check available places in a course.
		Each course task will check every 3 minutes if a space is available and if there is, it will send you an email notification.</p>

		<h4>Create a task</h4>
		<p>In order to create a task, please click on the "Add Course" button on your home page.
		A window will pop-up with the required info to be filled in.
		The syntax must match the format shown as example but here is a quick recap:</p>
		<ul>
			<li>Department: must be the 4 letters of the course number (eg: INTD).</li>
			<li>Code: must be the 3 digit course number (eg: 123 if the class is called INTD123).</li>
			<li>CRN: the 5 digit CRN code of the class found on minerva.</li>
			<li>Term: Must be the term followed by the year (eg: Winter2045). Accepted terms: Fall, Winter, Summer.</li>
		</ul>

		<h4>Additional Information</h4>
		<p>If you need to register for different "modules" of the class (eg: lab, tutorial, conference), please create a task for each individual one of these. They have different CRNs and each task can only accept one CRN.
		Example: I need to register for COMP101 Lecture (12345) and Lab4 (67890). I will create one task for each.... You're not dumb, you'll figure it out.</p>
		<p>Please check that you do receive the app's email notification by trying a test email. This can be found in your Settings. This will unsure that the emails don't get block or spammed.</p>

		<h4>Disclaimer</h4>
		<p>This will not guarantee you a place in the course but from experience it works everytime.
		Usually minerva is updated at midnight so you have the best chance of receiving an email aroung that time althought again, it can happen at any time.</p>
		<p>Under the current version, this app uses VSB to get the course data unauthenticated. However, it is believed that VSB has a small latency in it's data updates compared to Minerva. It is thus highly possible that once a space opens up on a class, VSB will only have the updated information up to a couple minutes afterwards. It has thus far nerver been an issue...</p>
		<p>It is very probable that this app has bugs and might not work. If you find anything or you would like to make suggestions/contributions, please contact <a href = "mailto: bambinito.dev@gmail.com">bambinito.dev@gmail.com</a> or it's very likely you know who I am personally so you can contact me anyway you feel like.
		By the way, this app uses an API available at api.minerva.bambinito.co. You're more than welcome to integrate with it. Please contact me and I'll be more than happy to help.</p>

		<h5>Enjoy!</h5>
	</div>
{% endblock %}