{% extends "user.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
	<style>
    .btn {
    	margin: 10px;
    }
    h2 {
    	margin-top: 5px;
    	margin-bottom: 15px;
    }
    .modal-content {
		  background-color: #fefefe;
		  margin: 15% auto;
		  padding: 20px;
		  border: 1px solid #888;
		  width: 80%;
		}
		.modal {
		  display: none;
		  position: fixed; 
		  z-index: 1; 
		  left: 0;
		  top: 0;
		  width: 100%; 
		  height: 100%; 
		  overflow: auto; 
		  background-color: rgb(0,0,0); 
		  background-color: rgba(0,0,0,0.4);
		}
    .modal-backdrop.in {
      opacity: 0;
    }

   </style>
{% endblock%}

{% block scripts %}
{{super()}}
	<script>
		$('#course_modal').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget) // Button that triggered the modal
		  var task_id = button.data('id') // Extract info from data-* attributes
      //console.log(task_id)
      //console.log(button)
      var modal = $(this)

      if (task_id == "new") {
        var dept = ""
        var code = ""
        var crn = ""
        var term = ""
        var button_value = "Create"
        var show_button = true
        modal.find('.modal-body input#delete').hide()
      }
      else {
        var dept = button[0].cells[0].innerText
        var code = button[0].cells[1].innerText
        var crn = button[0].cells[2].innerText
        var term = button[0].cells[3].innerText
        var button_value = "Edit"
        modal.find('.modal-body input#delete').show()
        //console.log(dept)
      }
		  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      //console.log(modal.find('.modal-body input#delete'))
      modal.find('.modal-body input#task_id').val(task_id)
		  modal.find('.modal-body input#dept').val(dept)
      modal.find('.modal-body input#code').val(code)
      modal.find('.modal-body input#crn').val(crn)
      modal.find('.modal-body input#term').val(term)
      modal.find('.modal-body input#submit').val(button_value)
		})
	</script>
{% endblock %}

{% block user_content %}
<div class="container">
  		<button type="button" class="btn btn-default" data-id="new" data-toggle="modal" data-target="#course_modal">Add Course</button>
  </div>

    <div class="container">
   		<table class="table table-hover" id="course_table" style="width:100%">
			<thead><tr>
    			<th>Department</th>
    			<th>Course</th>
    			<th>CRN</th>
    			<th>Term</th>
    			<th>Active</th>
  			</tr></thead>

        <tbody>
  			{% for task in tasks %}
  			<tr data-id="{{task.id}}" data-toggle="modal" data-target="#course_modal">
    			<td>{{ task.course.dept }}</td>
    			<td>{{ task.course.code }}</td>
    			<td>{{ task.course.crn }}</td>
    			<td>{{ task.course.term }}</td>
    			<td>{{ task.active }}</td>
  			</tr>
  			{% endfor %}
        </tbody>
  		</table>
  	</div>

  	<div class="modal" id="course_modal" data-backdrop="false" role="dialog" tabindex="-1">
      <div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-body">
  	  			<button type="button" class="close" data-dismiss="modal">
  	  				<span aria-hidden="true">&times;</span>
  	  			</button>
  	  			<h2>Course</h2>
  	  			<div class="form">
  	  				{{ wtf.quick_form(form) }}
  	  			</div>
  				</div>
    		</div>
      </div>
  	</div>
{% endblock %}