{% extends 'bootstrap/base.html' %}

{% block title %}
    Minerva App
{% endblock %}

{% block styles %}
{{super()}}
	<style>
		body {
			padding: 40px;
		}
    .intro {
    	padding: 40px 15px;
  		text-align: center;
    }
    .buttons {
    	padding: 10px;
    }
    .btn {
    	margin: 5px 15px;
    }
   </style>
{% endblock%}

{% block content%}
    <div class="container">
    	<div class="intro">
       	<h1>Welcome to the Minerva app</h1>
				<p class="lead">This is the app to get you a place in a class</p>
				<div class="buttons">
					<a class="btn btn-default" href="{{ url_for('auth.login') }}" role="button">Login</a>
					<a class="btn btn-default" href="{{ url_for('auth.register') }}" role="button">Register</a>
				</div>
			</div>
    </div>
{% endblock %}