{% extends "user.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
	<style>
    h3 {
    	margin-top: 10px;
    	margin-bottom: 10px;
    }
    .btn {
    	margin-top: 10px;
    	margin-bottom: 20px;
    	margin-left: 10px;
    }
  </style>
{% endblock %}


{% block user_content %}
	<div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% endwith %}
  </div>

  <div class="container">
  		<h3>Test Email</h3>
  		<p>This is a button to test the email notifier. It will send you a test notification to your account's email.</p>
  		<a role="button" href="{{ url_for('user.notifier_test', user_id=user.id, user_email=user.email) }}" class="btn btn-default">Email Test</a>
  </div>

  <div class="container">
  	<div class="form">
    	<h3>Change Password</h3>
      {{ wtf.quick_form(form) }}
    </div>
  </div>

  <div class="container">
  	<h3>Additional settings</h3>
  	<p>We do not currently have a feature to change the email associated with the account.
  	Please create a new account if you'd like to do so.</p>
  </div>
{% endblock %}