{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}{{ title }} - Minerva App{% else %}Minerva App{% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user-navbar" aria-expanded="false">
        			<span class="sr-only">Toggle navigation</span>
       				<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
     			 <a class="navbar-brand" href="{{ url_for('user.home', user_id=user.id) }}">Minerva</a>
    		</div>
    		<div class="collapse navbar-collapse" id="user-navbar">
    			<ul class="nav navbar-nav">
        			<li><a href="{{ url_for('user.help', user_id=user.id) }}">Help</a></li>
        		</ul>
      			<ul class="nav navbar-nav navbar-right">
        			<li><a href="{{ url_for('user.settings', user_id=user.id) }}">Settings</a></li>
        			<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        		</ul>
        	</div>
        </div>
    </nav>
{% endblock %}

{% block content %}
	{% block user_content %}

  {% endblock %}
{% endblock %}


